<a href="https://colab.research.google.com/github/azrizalg/ipynb/blob/main/Map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from google.colab import files
import datetime

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases.csv")
df_cc = pd.read_csv('/content/drive/MyDrive/Data/country-codes.csv') #country codes
df_dataLokasi = pd.read_csv('https://drive.google.com/uc?export=download&id=1oSPiGpmAW08DnYPk0xg03fDwdKZduZOF')

In [ ]:
df_fc = df_cc[['ISO3166-1-Alpha-3', 'M49']].dropna()
df_fc['M49'] = df_fc['M49'].astype(int)
df_fc.rename(columns = {'ISO3166-1-Alpha-3':'ISO3'}, inplace = True)

In [ ]:
df_fc

    ISO3  M49
1    AFG    4
2    ALB    8
3    DZA   12
4    ASM   16
5    AND   20
..   ...  ...
245  ESH  732
246  YEM  887
247  ZMB  894
248  ZWE  716
249  ALA  248

[248 rows x 2 columns]

In [ ]:
dfMap = df
dfMap = dfMap.drop(columns =['Last_Update', 'Lat', 'Admin2', 'Long_', 'Province_State', 'FIPS', 'Combined_Key', 'Incident_Rate', 'Combined_Key', 'UID', 'People_Tested', 'People_Hospitalized'])
dfMap = dfMap.groupby(['Country_Region','ISO3']).sum().reset_index()
dfMap[['Recovered', 'Active']] = dfMap[['Recovered', 'Active']].astype(int)

In [ ]:
df_dataLokasi.rename(columns={'alpha-3': 'ISO3'}, inplace=True)#inplace = dataframe di replace langsung
df_dataLokasi.rename(columns={'indo': 'idn'}, inplace=True)#inplace = dataframe di replace langsung

In [ ]:
final_df = pd.merge(dfMap, df_fc, on="ISO3")
final_df = pd.merge(final_df, df_dataLokasi, on ="ISO3")

In [ ]:
final_df

         Country_Region ISO3  ...      Country/Region                  idn
0           Afghanistan  AFG  ...         Afghanistan           Afganistan
1               Albania  ALB  ...             Albania              Albania
2               Algeria  DZA  ...             Algeria             Aljazair
3               Andorra  AND  ...             Andorra              Andorra
4                Angola  AGO  ...              Angola               Angola
..                  ...  ...  ...                 ...                  ...
178             Vietnam  VNM  ...             Vietnam              Vietnam
179  West Bank and Gaza  PSE  ...  West Bank and Gaza  Tepi Barat dan Gaza
180               Yemen  YEM  ...               Yemen                Yaman
181              Zambia  ZMB  ...              Zambia               Zambia
182            Zimbabwe  ZWE  ...            Zimbabwe             Zimbabwe

[183 rows x 11 columns]

In [ ]:
def replace_id(coval):
    if coval < 10 :
      return '00%d' % coval
    elif coval < 100:
      return '0%d' % coval
    else:
      return '%d' % coval

In [ ]:
final_df['M49'] = final_df['M49'].apply(lambda x: replace_id(x))

In [ ]:
final_df.to_json('/content/drive/MyDrive/Data/datarecords.json', orient='records')
final_df.to_json('datarecords.json', orient='records')
#files.download('datarecords.json')
final_df.to_csv('datarecords.csv',index=False)

In [ ]:
current_date = datetime.date.today().strftime("Last Update %D")
current_date

'Last Update 08/19/21'

In [ ]:
!git init
!git add datarecords.json
!git add datarecords.csv
!git config --global user.email "azarighi@gmail.com"
!git config --global user.name "azrizalg"
!git commit -m current_date
!git remote add origin https://azrizalg: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@github.com/azrizalg/json_file.git

Reinitialized existing Git repository in /content/.git/
On branch master
Untracked files:
	.config/
	drive/
	sample_data/

nothing added to commit but untracked files present

In [ ]:
!git remote rm origin

In [ ]:
!git pull origin master #kalo gabisa coba pake origin master

From https://github.com/azrizalg/json_file
 * branch            master     -> FETCH_HEAD
fatal: refusing to merge unrelated histories

In [ ]:

#pull those changes

#!git pull origin master --allow-unrelated-histories 

# or optionally, 'git pull origin master --allow-unrelated-histories' if you have initialized repo in github and also committed locally

#now, push your work to your new repo

!git push -u -f origin master

Counting objects: 6, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (5/5), done.
Writing objects: 100% (6/6), 12.87 KiB | 6.43 MiB/s, done.
Total 6 (delta 0), reused 0 (delta 0)
To https://github.com/azrizalg/json_file.git
 + 9ecda93...f8efe7b master -> master (forced update)
Branch 'master' set up to track remote branch 'master' from 'origin'.