<a href="https://colab.research.google.com/github/azrizalg/ipynb/blob/main/Tracker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup

In [1]:
import pandas as pd
import numpy as np
from google.colab import files
import datetime as dt

### Import data

In [2]:
#url_case_time = 'https://covid19.who.int/WHO-COVID-19-global-data.csv' #contain confirmed and deaths
#url_vacc_time = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/vaccine_time.csv'
#url_vacc = 'https://covid19.who.int/who-data/vaccination-data.csv' #contain confirmed and deaths
#url_table = 'https://covid19.who.int/WHO-COVID-19-global-table-data.csv'
url_nama_lokasi = 'https://drive.google.com/uc?export=download&id=1oSPiGpmAW08DnYPk0xg03fDwdKZduZOF'
url_owid = 'https://covid.ourworldindata.org/data/owid-covid-data.csv' # dataset dari our world in data

In [3]:
#df_case_time_raw = pd.read_csv(url_case_time)
#df_vacc_time_raw = pd.read_csv(url_vacc_time, dtype={'Province_State': 'str'})
#df_vacc_raw = pd.read_csv(url_vacc)
#df_table_raw = pd.read_csv(url_table)
df_nama_lokasi = pd.read_csv(url_nama_lokasi)
df_owid_raw = pd.read_csv(url_owid)

# Analisa Data

## OWID

In [4]:
df_owid_raw.tail()

       iso_code continent  ... human_development_index excess_mortality
112235      ZWE    Africa  ...                   0.571              NaN
112236      ZWE    Africa  ...                   0.571              NaN
112237      ZWE    Africa  ...                   0.571              NaN
112238      ZWE    Africa  ...                   0.571              NaN
112239      ZWE    Africa  ...                   0.571              NaN

[5 rows x 62 columns]

# Preparasi Data

In [5]:
df_nama_lokasi= df_nama_lokasi.drop('Country/Region', axis=1)

In [6]:
df_owid = df_owid_raw[['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases', 'total_deaths', 'new_deaths', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'population']]

In [7]:
df_owid_index = df_owid.copy()
df_owid_index.loc[:,'date'] = pd.to_datetime(df_owid.loc[:,'date'])#ubah format kolom tanggal dari obj ke datetime

In [8]:
df_owid_index.dtypes

iso_code                           object
continent                          object
location                           object
date                       datetime64[ns]
total_cases                       float64
new_cases                         float64
total_deaths                      float64
new_deaths                        float64
total_vaccinations                float64
people_vaccinated                 float64
people_fully_vaccinated           float64
population                        float64
dtype: object

## Grafik Dunia

In [9]:
df_owid_index.loc[df_owid_index['iso_code'] == 'OWID_WRL']

        iso_code continent  ... people_fully_vaccinated    population
110101  OWID_WRL       NaN  ...                     NaN  7.874966e+09
110102  OWID_WRL       NaN  ...                     NaN  7.874966e+09
110103  OWID_WRL       NaN  ...                     NaN  7.874966e+09
110104  OWID_WRL       NaN  ...                     NaN  7.874966e+09
110105  OWID_WRL       NaN  ...                     NaN  7.874966e+09
...          ...       ...  ...                     ...           ...
110679  OWID_WRL       NaN  ...            1.912096e+09  7.874966e+09
110680  OWID_WRL       NaN  ...            1.920572e+09  7.874966e+09
110681  OWID_WRL       NaN  ...            1.934993e+09  7.874966e+09
110682  OWID_WRL       NaN  ...            1.951158e+09  7.874966e+09
110683  OWID_WRL       NaN  ...            1.961363e+09  7.874966e+09

[583 rows x 12 columns]

In [10]:
df_owid_world = df_owid_index.loc[df_owid_index['iso_code'] == 'OWID_WRL']

In [11]:
df_owid_world.dtypes

iso_code                           object
continent                          object
location                           object
date                       datetime64[ns]
total_cases                       float64
new_cases                         float64
total_deaths                      float64
new_deaths                        float64
total_vaccinations                float64
people_vaccinated                 float64
people_fully_vaccinated           float64
population                        float64
dtype: object

## Grafik Indonesia

In [12]:
df_owid_index.loc[df_owid_index['iso_code'] == 'IDN']

      iso_code continent  ... people_fully_vaccinated   population
46936      IDN      Asia  ...                     NaN  276361788.0
46937      IDN      Asia  ...                     NaN  276361788.0
46938      IDN      Asia  ...                     NaN  276361788.0
46939      IDN      Asia  ...                     NaN  276361788.0
46940      IDN      Asia  ...                     NaN  276361788.0
...        ...       ...  ...                     ...          ...
47474      IDN      Asia  ...              31601868.0  276361788.0
47475      IDN      Asia  ...              32046224.0  276361788.0
47476      IDN      Asia  ...              32640998.0  276361788.0
47477      IDN      Asia  ...              33094505.0  276361788.0
47478      IDN      Asia  ...              33357249.0  276361788.0

[543 rows x 12 columns]

In [13]:
df_owid_idn = df_owid_index.loc[df_owid_index['iso_code'] == 'IDN']

## Map Dunia

In [14]:
df_map = df_owid_index.copy()

#num = df_map['tanggal'].max()
df_map = df_map.loc[df_map['date'] == df_map['date'].max()]#ambil baris yang memiliki nilai kolom tanggal nya paling besar (hari paling terkini)
df_map = df_map.drop('date', axis=1)

In [15]:
df_map.dtypes

iso_code                    object
continent                   object
location                    object
total_cases                float64
new_cases                  float64
total_deaths               float64
new_deaths                 float64
total_vaccinations         float64
people_vaccinated          float64
people_fully_vaccinated    float64
population                 float64
dtype: object

In [16]:
df_map.isna().sum()

iso_code                     0
continent                    9
location                     0
total_cases                  2
new_cases                    2
total_deaths                 9
new_deaths                   9
total_vaccinations         132
people_vaccinated          135
people_fully_vaccinated    133
population                   1
dtype: int64

In [17]:
int_col = ['total_cases','new_cases','total_deaths','new_deaths','total_vaccinations','people_vaccinated','people_fully_vaccinated','population']
df_map[int_col] = df_map[int_col].fillna(0)
df_map[int_col] = df_map[int_col].astype(int)

In [18]:
df_nama_lokasi.rename(columns={'alpha-3': 'iso_code'}, inplace=True)#inplace = dataframe di replace langsung
df_nama_lokasi.rename(columns={'indo': 'lokasi'}, inplace=True)#inplace = dataframe di replace langsung

In [19]:
df_map_final = pd.merge(df_map, df_nama_lokasi, how="left", on=["iso_code"])
df_map_final['lokasi']= df_map_final['lokasi'].fillna(df_map_final['location'])

In [20]:
df_map_final

     iso_code continent  ...  population      lokasi
0         AFG      Asia  ...    39835428  Afganistan
1    OWID_AFR       NaN  ...  1373486472      Africa
2         ALB    Europe  ...     2872934     Albania
3         DZA    Africa  ...    44616626    Aljazair
4         AND    Europe  ...       77354     Andorra
..        ...       ...  ...         ...         ...
199       VNM      Asia  ...    98168829     Vietnam
200  OWID_WRL       NaN  ...  7874965732       World
201       YEM      Asia  ...    30490639       Yaman
202       ZMB    Africa  ...    18920657      Zambia
203       ZWE    Africa  ...    15092171    Zimbabwe

[204 rows x 12 columns]

In [21]:
df_map_upload = df_map_final.copy()

## Card

In [22]:
df_card = df_owid_index.loc[df_owid_index['iso_code'] == 'OWID_WRL']
df_card = df_card.drop(df_card.columns[[0, 1, 2]], axis = 1)

In [23]:
#df_card = df_owid_index.loc[df_owid_index['date'] == df_owid_index['date'].max()]

In [24]:
print(df_card.max())

date                       2021-08-26 00:00:00
total_cases                        2.14627e+08
new_cases                               905992
total_deaths                       4.47453e+06
new_deaths                               17977
total_vaccinations                    5.13e+09
people_vaccinated                  2.59497e+09
people_fully_vaccinated            1.96136e+09
population                         7.87497e+09
dtype: object

In [25]:
int_col = ['total_cases','new_cases','total_deaths','new_deaths','total_vaccinations','people_vaccinated','people_fully_vaccinated','population']
df_card[int_col] = df_card[int_col].fillna(0)
df_card[int_col] = df_card[int_col].astype(int)

In [ ]:
#df_card = df_card.rename(index={110266: 'value'})

# Kode Negara

In [34]:
country_code = df_map_final[['iso_code','location','lokasi',]]

In [35]:
country_code

     iso_code     location      lokasi
0         AFG  Afghanistan  Afganistan
1    OWID_AFR       Africa      Africa
2         ALB      Albania     Albania
3         DZA      Algeria    Aljazair
4         AND      Andorra     Andorra
..        ...          ...         ...
199       VNM      Vietnam     Vietnam
200  OWID_WRL        World       World
201       YEM        Yemen       Yaman
202       ZMB       Zambia      Zambia
203       ZWE     Zimbabwe    Zimbabwe

[204 rows x 3 columns]

# Upload to github

## Convert to csv or json

In [36]:
df_map_upload.to_csv('map.csv',index=False)
df_card.max().to_json('card.json')
df_owid_index.to_json('owid.json', orient = 'records')
country_code.to_json('country_codes.json', orient = 'records')

In [37]:
current_date = dt.date.today().strftime("Last Update %D")

In [38]:
current_date

'Last Update 08/28/21'

## Push

In [ ]:
#!git init
#!git add Map.csv
#!git config --global user.email "azarighi@gmail.com"
#!git config --global user.name "azrizalg"
#!git commit -m current_date
#!git remote add origin https://azrizalg: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@github.com/azrizalg/json_file.git
#!git push -u -f origin master

In [40]:
!git init
!git add map.csv
!git add card.json
!git add owid.json
!git add country_codes.json
!git config --global user.email "azarighi@gmail.com"
!git config --global user.name "azrizalg"
!git commit -m "$current_date"
!git remote add origin https://azrizalg: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@github.com/azrizalg/tracker_data.git
!git push -u -f origin master

Reinitialized existing Git repository in /content/.git/
[master d3c4b0f] Last Update 08/28/21
 1 file changed, 1 insertion(+)
 create mode 100644 country_codes.json
fatal: remote origin already exists.
Counting objects: 3, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 3.00 KiB | 3.00 MiB/s, done.
Total 3 (delta 0), reused 0 (delta 0)
To https://github.com/azrizalg/tracker_data.git
   415a21b..d3c4b0f  master -> master
Branch 'master' set up to track remote branch 'master' from 'origin'.

In [ ]:
!git remote rm origin